<%# Expected variables: form:, attribute_response: %>

<div class="fr-input-group fr-mb-2w<%= ' fr-input-group--error' if attribute_response.errors[:text].any? %>">
  <%= form.text_area :text, rows: 6, value: attribute_response.value['text'] || '', class: "fr-input" %>
  <% if attribute_response.errors[:text].any? %>
    <p class="fr-error-text">
      <%= attribute_response.errors[:text].first %>
    </p>
  <% end %>
</div>
