<%
  title ||= ""
  tag ||= :div
  background ||= ""
  color ||= ""
  additional_classes ||= "fr-text--lg"
%>

<div class="fr-card__header">
  <%= content_tag(
    tag,
    title,
    class: [
      "fr-card__title",
      "fr-mb-0",
      "fr-py-2w",
      "fr-px-2w",
      additional_classes,
      background,
      color
    ].join(" ")
      )
  %>
</div>

<% if block_given? %>
  <div class="fr-card__body">
    <%= yield %>
  </div>
<% end %>
