<%
  field_key ||= nil
  field ||= nil
  html_tag ||= :div
  wrapper_classes ||= ""
  content_classes ||= "fr-pt-4v fr-pb-4v"
%>

<%= content_tag html_tag, class: "#{wrapper_classes} #{content_classes}" do %>
  <div class="field-layout-container">
    <div class="field-layout-content">
      <strong><%= field.resolved_candidate_name %></strong>
      <% if (description = field.resolved_candidate_description) %>
        <br>
        <span class="fr-text--sm fr-text--mention-grey"><%= description %></span>
      <% end %>
    </div>
  </div>
<% end %>
