<div class="fr-col-3">
  <nav class="fr-sidemenu" aria-labelledby="fr-sidemenu-title" data-controller="sidemenu">
    <div class="fr-sidemenu__inner">
      <button class="fr-sidemenu__btn" aria-controls="fr-sidemenu-wrapper" aria-expanded="false">Dans cette rubrique</button>
      <div class="fr-collapse" id="fr-sidemenu-wrapper">
        <ul class="fr-sidemenu__list">
          <% subcategories.each do |key| %>
            <li class="fr-sidemenu__item">
              <%= link_to t("form_fields.candidate.subcategories.#{key}", 
                          default: t("candidate.market_applications.manual_subcategories.#{key}", 
                                    default: key.humanize)), "##{key}", 
                class: "fr-sidemenu__link",
                data: { 
                  sidemenu_target: "link", 
                  action: "click->sidemenu#click",
                  turbo: "false"
                } %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>
