<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-mb-3w">
    <%= stepper(
      current_step: step,
      steps: @wizard_steps,
      i18n_scope: 'candidate.market_applications',
      show_separator: true
    ) %>
  </div>
</div>
