<% content_for :title, "#{@market_application.siret} - #{t('candidate.market_applications.steps.economic_capacities')}" %>

<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12">
    <div class="fr-stepper">
      <h2 class="fr-stepper__title">
        <%= t('candidate.market_applications.steps.economic_capacities') %>
        <span class="fr-stepper__state">Étape 3 sur 5</span>
      </h2>
      <div class="fr-stepper__steps" data-fr-current-step="3" data-fr-steps="5">
      </div>
    </div>
  </div>
</div>

<% subcategories = t('candidate.market_applications.economic_capacities_data.subcategories') %>

<%= render "sidemenu_subcategories", subcategories: subcategories %>

<%= render "wizard_nav" %>
