<% content_for :title, "#{@market_application.siret} - #{t('candidate.market_applications.steps.economic_capacities')}" %>

<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12">
    <%= stepper(
      current_step: step,
      steps: @wizard_steps,
      i18n_scope: 'candidate.market_applications.steps'
    ) %>
  </div>
</div>

<%= render "wizard_nav" %>
