<% auto_responses = subcategory_responses.select(&:auto?) %>
<% manual_responses = subcategory_responses.reject(&:auto?) %>
<% required_fields = manual_responses.select { |r| r.type == "RadioWithJustificationRequired" } %>
<% optional_fields = manual_responses.reject { |r| r.type == "RadioWithJustificationRequired" } %>

<% if auto_responses.any? %>
  <div class="fr-fieldset fr-mb-4w">
    <% auto_responses.each do |response| %>
      <div class="fr-fieldset__element">
        <%= render "candidate/market_applications/market_attribute_responses/#{response.type.underscore}_form",
                market_attribute_response: response, form: form %>
      </div>
    <% end %>
  </div>
<% end %>

<% if required_fields.any? %>
  <div class="fr-fieldset fr-mb-4w">
    <% required_fields.each do |response| %>
      <div class="fr-fieldset__element">
        <%= render "candidate/market_applications/market_attribute_responses/#{response.type.underscore}_form",
                market_attribute_response: response, form: form %>
      </div>
    <% end %>
  </div>
<% end %>

<% if optional_fields.any? %>
  <div data-conditional-fields-target="content" class="fr-hidden fr-fieldset fr-mb-4w">
    <% optional_fields.each do |response| %>
      <div class="fr-fieldset__element">
        <%= render "candidate/market_applications/market_attribute_responses/#{response.type.underscore}_form",
                market_attribute_response: response, form: form %>
      </div>
    <% end %>
  </div>
<% end %>

<% if optional_fields.any? && required_fields.empty? && auto_responses.empty? %>
  <div data-conditional-fields-target="inverseContent" class="fr-alert fr-alert--success fr-alert--sm">
    <p>
      Vous avez indiqué que votre entreprise n'est pas concernée par un cas d'interdiction.
      Vous pouvez passer à l'étape suivante.
    </p>
  </div>
<% end %>
