<div class="fr-card fr-mb-2w category-card">
  <%= render 'shared/card_header',
             title: t('shared.application_lots_summary.title'),
             background: "fr-background-alt--grey" %>
  <div class="fr-card__body fr-mt-1w fr-mb-1w">
    <ul class="fr-tags-group fr-mb-1w">
      <% presenter.selected_lots.each do |lot| %>
        <li><span class="fr-tag"><%= t('shared.application_lots_summary.lot_number', number: lot.position) %></span></li>
      <% end %>
    </ul>
    <p class="fr-text--md fr-mb-0">
      <span class="fr-icon-info-fill fr-icon--sm fr-mr-1v fr-text-action-high--blue-france" aria-hidden="true"></span>
      <%= t('shared.application_lots_summary.annex_notice', count: presenter.selected_lots.size) %>
    </p>
  </div>
</div>
