<div class="fr-card fr-mb-1w fr-card--no-border">
  <% confirmed = market_application.attests_no_exclusion_motifs %>

  <%= render 'shared/card_sub_header',
             title: t('buyer.attestations.motifs_exclusion.candidate_attestation_title'),
             background: 'fr-background-alt--blue-ecume',
             color: 'fr-text-title--blue-france',
             additional_classes: 'fr-text--md' do %>

    <div class="field-layout-container">
      <div class="field-layout-content">
        <%# Notice %>
        <%= render 'shared/notice',
                   notice_text: t(
                     confirmed ?
                       'buyer.attestations.motifs_exclusion.candidate_attestation_confirmed_notice' :
                       'buyer.attestations.motifs_exclusion.candidate_attestation_not_confirmed_notice'
                   ),
                   color: (confirmed ? nil : 'error') %>

        <%# Icon + Message %>
        <span class="fr-text--md fr-text--mention-grey">
          <%= confirmed ?
                render(CheckIconComponent.new(context: context)) :
                content_tag(:span, '', class: 'fr-icon-close-circle-fill fr-icon--sm fr-mr-1v', aria: { hidden: true }) %>
          <%= t(
                confirmed ?
                  'buyer.attestations.motifs_exclusion.candidate_attestation_confirmed' :
                  'buyer.attestations.motifs_exclusion.candidate_attestation_not_confirmed'
              ) %>
        </span>
      </div>
    </div>
  <% end %>
</div>
