<div class="attestation-certification">
  <p><strong><%= t('certification_notice.title') %></strong></p>
  <p><%= t('certification_notice.p1') %></p>
  <p><%= t('certification_notice.p2') %></p>
  <p><%= t('certification_notice.p3') %></p>
</div>
