<% s = local_assigns[:scope] || 'certification_notice' %>
<div class="attestation-certification page-break-inside-avoid">
  <p><strong><%= t("#{s}.title") %></strong></p>
  <p><%= t("#{s}.p1") %></p>
  <p><%= t("#{s}.p2") %></p>
  <p><%= t("#{s}.p3") %></p>
</div>
