<footer class="fr-footer" role="contentinfo">
  <div class="fr-container">
    <div class="fr-footer__body">
      <div class="fr-footer__brand fr-enlarge-link">
        <p class="fr-logo">
          République<br>Française
        </p>
      </div>
      <div class="fr-footer__content">
        <ul class="fr-footer__content-list fr-mb-3w">
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" href="#" target="_blank" rel="noopener">info.gouv.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" href="#" target="_blank" rel="noopener">service-public.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" href="#" target="_blank" rel="noopener">legifrance.gouv.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" href="#" target="_blank" rel="noopener">data.gouv.fr</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="fr-footer__bottom">
      <ul class="fr-footer__bottom-list">
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" href="#"><%= t('footer.links.accessibility') %></a>
        </li>
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" href="#"><%= t('footer.links.legal') %></a>
        </li>
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" href="#"><%= t('footer.links.privacy') %></a>
        </li>
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" href="#"><%= t('footer.links.cookies') %></a>
        </li>
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" href="#" target="_blank" rel="noopener">Plan du site</a>
        </li>
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" href="#" target="_blank" rel="noopener">Paramètres d'affichage</a>
        </li>
      </ul>
      <ul class="fr-footer__bottom-list">
        <li class="fr-footer__bottom-item">
          <span class="fr-footer__bottom-link">
            Sauf mention explicite de propriété intellectuelle détenue par des tiers, les contenus de ce site sont proposés sous 
            <a href="#" target="_blank" rel="noopener">licence etalab-2.0</a>
          </span>
        </li>
      </ul>
    </div>
  </div>
</footer>
