<div class="fr-notice fr-notice--info fr-mb-2w">
  <div class="fr-notice__body fr-px-2w fr-py-1w">
    <p class="fr-notice__title"></p>
    <p class="fr-notice__desc">
      <%= notice_text.html_safe %>
    </p>
  </div>
</div>
