<%
  show_size = local_assigns.fetch(:show_size, true)
  display_name = document_display_name(document, market_application: market_application, context: context)
%>

<div>
  <span class="fr-icon--sm fr-icon-file-fill fr-mr-1v" aria-hidden="true"></span>
  <span><%= display_name %></span>
  <% if show_size %>
    (<%= number_to_human_size(document.byte_size) %>)
  <% end %>
</div>
