<div data-direct-upload-target="progress" class="hidden fr-mt-1w">
  <div class="direct-upload-progress">
    <div data-direct-upload-target="progressBar" class="direct-upload-progress-bar"></div>
  </div>
</div>
