<div class="field-layout-container">
  <div class="field-layout-content">
    <strong>
      <%= component.field_label %>
    </strong>

    <% if component.show_value? %>
      <br>
      <span class="fr-text--md fr-text--mention-grey">
        <%= component.display_value %>
      </span>
    <% end %>
  </div>
  <div class="field-layout-badge">
    <%= render SourceBadgeComponent.new(market_attribute_response: component.market_attribute_response) %>
  </div>
</div>
