<div>
  <span class="fr-icon--sm fr-icon-file-fill fr-mr-1v" aria-hidden="true"></span>
  <span><%= display_name %></span>
  <% if show_size %>
    (<%= file_size %>)
  <% end %>
  <%= malware_badge %>
</div>
