<div data-direct-upload-target="progress" class="<%= container_css_class %>">
  <div class="direct-upload-progress">
    <div data-direct-upload-target="progressBar" class="direct-upload-progress-bar" style="<%= progress_bar_style %>"></div>
  </div>
</div>
