<%
  text_value = market_attribute_response.text
  display_value = text_value.present? ? text_value : 'Non renseigné'
%>

<div class="field-layout-container">
  <div class="field-layout-content">
    <strong>
      <%= t("form_fields.candidate.fields.#{market_attribute_response.market_attribute.key}.name",
            default: market_attribute_response.market_attribute.key.humanize) %>
      <% if market_attribute_response.auto? %>
        <span class="fr-badge fr-badge--success fr-ml-1w">
          <%= t('candidate.market_applications.badges.data_from_api') %>
        </span>
      <% elsif market_attribute_response.manual_after_api_failure? %>
        <span class="fr-badge fr-badge--warning fr-ml-1w">
          <%= t('candidate.market_applications.badges.data_filled_after_api_failure') %>
        </span>
      <% end %>
    </strong>

    <% unless market_attribute_response.auto? %>
      <br>
      <span class="fr-text--md fr-text--mention-grey">
        <%= display_value %>
      </span>
    <% end %>
  </div>
</div>
