<%
  text_value = market_attribute_response.text
  display_value = text_value.present? ? text_value : 'Non renseigné'
%>

<div class="field-layout-container">
  <div class="field-layout-content">
    <span class="fr-badge fr-badge--success badge--no-background"> </span>
    <strong>
      <%= t("form_fields.candidate.fields.#{market_attribute_response.market_attribute.key}.name", 
            default: market_attribute_response.market_attribute.key.humanize) %>
    </strong>
    <br>
    <span class="fr-text--sm fr-text--mention-grey">
      <%= display_value %>
    </span>
  </div>
</div>
