<%
  documents = market_attribute_response.documents
  text_value = market_attribute_response.value['text'] || ''
  field_key = market_attribute_response.market_attribute.key
  context ||= :web
  show_value = !market_attribute_response.auto? || context == :buyer
  market_application = market_attribute_response.market_application
  naming_service = DocumentNamingService.new(market_application)
%>

<div class="fr-upload-group fr-mb-4w">
  <div class="fr-text fr-mb-2w">
    <strong>
      <%= t("form_fields.candidate.fields.#{field_key}.name",
            default: market_attribute_response.market_attribute.key.humanize) %>
      <%= render 'candidate/market_applications/market_attribute_responses/source_badge', market_attribute_response: market_attribute_response %>
    </strong>
  </div>

  <% if show_value %>
    <% if text_value.present? %>
      <div class="fr-text fr-mb-2w">
        <strong>Description :</strong>
        <p><%= simple_format(text_value) %></p>
      </div>
    <% end %>

    <span class="fr-text--sm fr-text--mention-grey">
      <% if documents.attached? %>
        <% documents.each do |doc| %>
          <%= render 'candidate/market_applications/market_attribute_responses/shared/document_item',
                     document: doc,
                     market_application: market_application,
                     context: context,
                     naming_service: naming_service %>
        <% end %>
      <% else %>
        <span>Aucun fichier téléchargé</span>
      <% end %>
    </span>

    <% if text_value.blank? && !documents.attached? %>
      <p class="fr-text--sm fr-mt-2w">Aucune description ni fichier fourni.</p>
    <% end %>
  <% end %>
</div>
