<%
  text_value = market_attribute_response.text
  context ||= :web
  # Show value if: not auto-filled, OR context is buyer (buyer sees all data)
  show_value = !market_attribute_response.auto? || context == :buyer
%>

<div class="certificate-row">
  <div class="certificate-col certificate-col--left">
    <strong>
      <%= t("form_fields.candidate.fields.#{market_attribute_response.market_attribute.key}.name",
            default: market_attribute_response.market_attribute.key.humanize) %>
      <%= render 'candidate/market_applications/market_attribute_responses/source_badge', market_attribute_response: market_attribute_response %>
    </strong>
  </div>
  <div class="certificate-col certificate-col--right">
    <% if show_value %>
      <span class="fr-text--sm fr-text--mention-grey">
        <% if text_value.present? %>
          <%= link_to text_value, text_value, target: "_blank", rel: "noopener" %>
        <% else %>
          Certificat non renseigné
        <% end %>
      </span>
    <% end %>
  </div>
</div>
<hr class="fr-hr">
