<%
  documents = market_attribute_response.documents
  context ||= :web
  # Show value if: not auto-filled, OR context is buyer (buyer sees all data)
  show_value = !market_attribute_response.auto? || context == :buyer
%>

<div class="certificate-row">
  <div class="certificate-col certificate-col--left">
    <strong>
      <%= t("form_fields.candidate.fields.#{market_attribute_response.market_attribute.key}.name",
            default: market_attribute_response.market_attribute.key.humanize) %>
      <%= render 'candidate/market_applications/market_attribute_responses/source_badge', market_attribute_response: market_attribute_response %>
    </strong>
  </div>
  <div class="certificate-col certificate-col--right">
    <% if show_value %>
      <span class="fr-text--sm fr-text--mention-grey">
        <% if documents.attached? %>
          <div>
            <% documents.each do |doc| %>
              <span class="fr-icon--sm fr-icon-file-fill fr-mr-1v" aria-hidden="true"></span>
              <%= link_to doc.filename.to_s,
                          url_for(doc),
                          target: "_blank", rel: "noopener" %>
              (<%= number_to_human_size(doc.byte_size) %>)
              <br>
            <% end %>
            </div>
          <% else %>
            <span>Aucun fichier téléchargé</span>
          <% end %>
        </span>
    <% end %>
  </div>
</div>
<hr class="fr-hr">
