<%
  text_value = market_attribute_response.text
%>

<div class="certificate-row" style="display: flex; flex-direction: row; margin-bottom: 20px;">
  <div class="certificate-col certificate-col--left">
    <strong>
      <%= t("form_fields.candidate.fields.#{market_attribute_response.market_attribute.key}.name",
            default: market_attribute_response.market_attribute.key.humanize) %>
    </strong>
  </div>
  <div class="certificate-col certificate-col--right">
    <span class="fr-text--sm fr-text--mention-grey">
      <% if text_value.present? %>
        <%= link_to text_value, text_value, target: "_blank", rel: "noopener" %>
      <% else %>
        Certificat non renseigné
      <% end %>
    </span>
  </div>
</div>
