<%
  text_value = market_attribute_response.text
%>

<div class="certificate-row">
  <div class="certificate-col certificate-col--left">
    <strong>
      <%= t("form_fields.candidate.fields.#{market_attribute_response.market_attribute.key}.name",
            default: market_attribute_response.market_attribute.key.humanize) %>
      <% if market_attribute_response.auto? %>
        <span class="fr-badge fr-badge--success fr-ml-1w">
          <%= t('candidate.market_applications.badges.data_from_api') %>
        </span>
      <% elsif market_attribute_response.manual_after_api_failure? %>
        <span class="fr-badge fr-badge--warning fr-ml-1w">
          <%= t('candidate.market_applications.badges.data_filled_after_api_failure') %>
        </span>
      <% end %>
    </strong>
  </div>
  <div class="certificate-col certificate-col--right">
    <% unless market_attribute_response.auto? %>
      <span class="fr-text--sm fr-text--mention-grey">
        <% if text_value.present? %>
          <%= link_to text_value, text_value, target: "_blank", rel: "noopener" %>
        <% else %>
          Certificat non renseigné
        <% end %>
      </span>
    <% end %>
  </div>
</div>
<hr class="fr-hr">
