<%
  text_value = market_attribute_response.text
  display_value = text_value.present? ? text_value : 'Non renseigné'
%>

<li class="fr-list__item">
  <div class="field-layout-container">
    <div class="field-layout-content">
      <strong>
        <%= t("form_fields.candidate.fields.#{market_attribute_response.market_attribute.key}.name", 
              default: market_attribute_response.market_attribute.key.humanize) %>
      </strong>
      <br>
      <span class="fr-text--sm fr-text--mention-grey">
        <%= display_value %>
      </span>
    </div>
  </div>
</li>
