<%= content_for :page_title, t('admin.categories.title') %>

<div class="fr-container fr-my-4w">
  <%= render 'admin/shared/navigation' %>

  <h1 class="fr-h2 fr-mt-4w"><%= t('admin.categories.title') %></h1>
</div>
