<div class="fr-accordions-group">
  <% @grouped_attributes.each do |category_key, subcategories| %>
    <%= render 'admin/socle_de_base/category_accordion',
               category_key: category_key,
               subcategories: subcategories %>
  <% end %>
</div>
