<div class="fr-tabs fr-mb-3w">
  <ul class="fr-tabs__list" role="tablist" aria-label="Catégories du socle de base">
    <% MarketAttribute::CATEGORY_TABS.each do |category_key| %>
      <li role="presentation">
        <%= link_to I18n.t("form_fields.buyer.categories.#{category_key}"),
                    admin_socle_de_base_index_path(
                      tab: category_key,
                      q: params[:q],
                      market_type_id: params[:market_type_id],
                      source: params[:source],
                      mandatory: params[:mandatory]
                    ),
                    class: "fr-tabs__tab #{'fr-tabs__tab--selected' if @current_tab == category_key}",
                    role: "tab",
                    "aria-selected": @current_tab == category_key %>
      </li>
    <% end %>
  </ul>
</div>
