<div class="field-layout-container">
  <div class="field-layout-content">
    <strong>
      <%= field_label %>
    </strong>

    <% if show_value? %>
      <br>
      <span class="fr-text--md fr-text--mention-grey">
        <%= display_value %>
      </span>
    <% end %>
  </div>
  <div class="field-layout-badge">
    <%= render source_badge_component %>
  </div>
</div>
